### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [42]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [43]:
# Get the total number of players using the len function and storing it in a dataframe
total_players = pd.DataFrame(data = [len(purchase_data['SN'].unique())] , columns = ["Total Players"])

#Display
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [44]:
# Calculate the purchase details
unique_items = len(purchase_data.groupby("Item ID"))

average_price = purchase_data["Price"].mean()

purchase_count = len(purchase_data["Purchase ID"])

total_revenue = purchase_data["Price"].sum()

# Place the values in a dataframe
purchase_analysis_df = pd.DataFrame({"Number of Unique Items" :[unique_items],"Average Price":[average_price],\
                                     "Number of Purchases":[purchase_count],"Total Revenue":[total_revenue]})

# Format with the price and revenue values in currency format
purchase_analysis_df.style.format({'Average Price':"${:,.2f}",'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [45]:
# Get the unique players list by dropping duplicates
unique_players_df = purchase_data.drop_duplicates(subset ="SN",keep='first')

# Calculate the count and percentage
gender_demographics = pd.DataFrame(unique_players_df.groupby("Gender").size(), columns =["Total Count"])

# Format the percentage values as expected
gender_demographics["Percentage of Players"] = round((unique_players_df["Gender"].value_counts()\
                                                      /unique_players_df["Gender"].count())*100,2)

# Sort Values by total count
gender_demographics.sort_values(by=["Total Count"], ascending=False)

                       Total Count  Percentage of Players
Gender
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [46]:
# Group the dataframe by gender to get the statistics
gender_info = purchase_data.groupby("Gender")

# Gender Stats
purchase_count_gen = gender_info["Purchase ID"].count()

total_purchase_price = gender_info["Price"].sum()

avg_purchase_price = gender_info["Price"].mean()

# Get the unique player count grouped by gender
unique_purchase_count = gender_info.nunique()["SN"]

# Calculate the average purchase per person
avg_purchase_per_person = total_purchase_price/unique_purchase_count

# Place the values in a dataframe
gender_analysis_df = pd.DataFrame({"Purchase Count" :purchase_count_gen,"Average Purchase Price":avg_purchase_price,\
                                   "Total Purchase Value":total_purchase_price,\
                                   "Avg Total Purchase per Person":avg_purchase_per_person})
# Set the index name
gender_analysis_df.index.name = "Gender"

# Set the format of all the float values in the dataframe to the currency format
gender_analysis_df.style.format({"Average Purchase Price": '${:,.2f}', "Total Purchase Value": '${:,.2f}',\
                                 "Avg Total Purchase per Person": '${:,.2f}'})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [47]:
# Establish bins for ages
age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]

# Set the group names as labels
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Cut the age values based on the groups created from the bins
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)

# Create grouped by dataframe based on the Age Group
age_grouped = purchase_data.groupby("Age Group")

# Total players by age group
total_count_age = age_grouped["SN"].nunique()

# Unique count of players
unique_count = len(purchase_data["SN"].value_counts())

# Calculate percentages by age group 
percentage_by_age = (total_count_age/unique_count) * 100

# Create data frame with obtained values
age_demographics = pd.DataFrame({"Total Count": total_count_age, "Percentage of Players": percentage_by_age})

# Remove the index
age_demographics.index.name = None

# Set the format of the percentage value
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [48]:
# Purchasing Analysis

# Get the counts and stats based on earlier age grouped dataframe
purchase_count_age = age_grouped['Purchase ID'].count()

total_purchase_price_age = age_grouped['Price'].sum()

avg_purchase_price_age = total_purchase_price_age/purchase_count_age

avg_total_purchase_price_age = total_purchase_price_age/age_grouped["SN"].nunique()

# Create data frame with obtained values
age_purchases = pd.DataFrame({"Purchase Count": purchase_count_age, "Average Purchase Price": avg_purchase_price_age,\
                             "Total Purchase Value": total_purchase_price_age,\
                             "Avg Total Purchase per Person": avg_total_purchase_price_age})

# Remove the index
age_purchases.index.name = None

# Set the format of all the float values in the dataframe to the currency format
age_purchases.style.format({"Average Purchase Price": '${:,.2f}',\
                            "Total Purchase Value": '${:,.2f}',\
                            "Avg Total Purchase per Person": '${:,.2f}'})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [49]:
# Top Spenders

# Group by the subscriber name
spender_grouped = purchase_data.groupby("SN")

# Calculations based on the grouped data
spender_purchase_count = spender_grouped['Purchase ID'].count()

total_spender_purchase_value = spender_grouped['Price'].sum()

average_spender_purchase_price = total_spender_purchase_value/spender_purchase_count

# Create data frame with obtained values
spender_purchases = pd.DataFrame({"Purchase Count": spender_purchase_count,\
                                  "Average Purchase Price": average_spender_purchase_price,\
                                  "Total Purchase Value": total_spender_purchase_value})

# Sort the dataframe based on the Top purchase value
top_spender = spender_purchases.sort_values(by="Total Purchase Value", ascending=False).head()

# Format all the currency columns and display only preview data
top_spender.style.format({"Average Purchase Price": '${:,.2f}',"Total Purchase Value": '${:,.2f}'})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [50]:
# Most Popular Items

# Get only the item details and place it in a dataframe 
item_df = purchase_data[["Item ID","Item Name","Price"]]

# Group based on item ID and Item Name
item_df_grouped = item_df.groupby(by = ["Item ID","Item Name"])

# Calculate the purchase details based on the items
item_purchase_count = item_df_grouped["Item ID"].count()

item_total_purchase_value = item_df_grouped["Price"].sum()

item_price = item_total_purchase_value/item_purchase_count

# Create data frame with obtained values
popular_items = pd.DataFrame({"Purchase Count": item_purchase_count,\
                              "Item Price": item_price,\
                              "Total Purchase Value": item_total_purchase_value})

# Sort the dataframe based on the purchase count
top_popular_items = popular_items.sort_values(by="Purchase Count", ascending=False).head()

# Format all the currency columns and display only preview data
top_popular_items.style.format({"Item Price": '${:,.2f}',"Total Purchase Value": '${:,.2f}'})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [51]:
# Most profitable items
# Sort the dataframe based on the Top purchase value
top_profitable_items = popular_items.sort_values(by="Total Purchase Value", ascending=False).head()

# Format all the currency columns and display only preview data
top_profitable_items.style.format({"Item Price": '${:,.2f}',"Total Purchase Value": '${:,.2f}'})